<h3>Order: <%= @order.id %></h3>
<div id="customer-info">
  <p>User: <%= @order.user.username %></p>
  <p>Address: <%= @order.user.street %> <%= @order.user.city %>, <%= @order.user.state %>, <%= @order.user.zip_code %></p>
</div>
<section id="items">
  <% @items.each do |item| %>
    <p>Item: <%= link_to "#{item.name}" %></p>
    <%= image_tag "#{item.thumbnail}" %>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Quantity: <%= item.quantity %></p>
  <% end %>
</section>
