<h1>Log In</h1>

  <%= form_tag login_path do %>
  <div class="form-group">
    <p><%= label_tag :email %></p>
    <p><%= email_field_tag :email %></p>
  </div>
  <div class="form-group">
    <p><%= label_tag :password %></p>
    <p><%= password_field_tag :password %></p>
  </div>
  <div class="btn btn-primary">
    <%= submit_tag "Sign In" %>
  </div>
  <% end %>
