<% @orders.each do |o| %>
<section id="order-<%=o.id%>">
  <p><%= link_to "ID: #{o.id}"%></p>
  <p>Order Placed: <%= o.created_at %></p>
  <p>Last Updated: <%= o.updated_at %></p>
  <p>Current Status: <%= o.status %></p>
  <p>Total Items: <%= o.total_item_quantity %></p>
  <p>Grand Total: <%= number_to_currency(o.total_item_price) %></p>
</section>
<% end %>
