<section class="statistics">
  <div id="top-items">
    <h3>Top 5 Items:</h3>
    <% @items.each do |item| %>
      <p><%= item.name %> - <%= item.total_quan %></p>
    <% end %>
  </div>
  <div class="stat-column" id="total-quantity">
    <h3>Stock</h3>
    <ul>
      <% total_sold =  @items.sum {|item| item.total_quan } %>
      <% total_inventory = @items.sum {|item| item.quantity } %>
      <li>Total Quantity Sold: <%= total_sold %></li>
      <li>Sold <%= @items.sum {|item| item.total_quan } %> items, which is <%= ((total_sold.to_f / total_inventory.to_f) * 100).round(2) %>% of your total inventory.</li>
    </ul>
  </div>
  <div class="stat-column" id="top-states">
    <h3>Top 3 States:</h3>
    <ul>
      <% @states.each do |state| %>
      <li><%= state.state %> - <%= state.quantity %></li>
      <% end %>
    </ul>
  </div>
  <div class="stat-column" id="top-cities">
    <h3>Top 3 Cities:</h3>
    <ul>
      <% @cities.each do |city| %>
      <li><%= city.city %>, <%= city.state %> - <%= city.quantity %></li>
      <% end %>
    </ul>
  </div>
  <div class="stat-column" id="top-users-orders">
    <h3>Top Buyers</h3>
    <ul>
      <% @top_user_by_orders.each do |user| %>
      <li>Most Orders from You: <%= user.username %>, with <%= user.quantity %> orders.</li>
      <% end %>
    </ul>
  </div>
  <div class="stat-column" id="bulk-buyers">
    <h3>Bulk Buyers</h3>
    <ul>
      <% @top_user_by_items.each do |user| %>
      <li>Most Items bought from you: <%= user.username %>, with <%= user.quantity %> items.</li>
      <% end %>
    </ul>
  </div>
  <div class="stat-column" id="top-users-price">
    <h2>Top 3 Users by amount spent on your Items: </h2>
    <div id="top-3-users">
    <ul>
      <% @top_users_by_price.each do |user| %>
        <li><%= user.username %> - <%= number_to_currency(user.money_spent) %></li>
      <% end %>
    </ul>
  </div>
  </div>
</section>
<p><%= link_to 'View Your Items', dashboard_items_path %></p>
<section class='orders'>
  <% @orders.each do |order| %>
    <section id="order-#{order.id}">
      <h3><%= link_to "ID: #{order.id}", dashboard_orders_path(order) %></h3>
      <p>Date Made: <%= order.created_at %></p>
      <p>Number of Items: <%= order.total_item_quantity_for_merchant(current_user.id) %></p>
      <p>Total Cost: <%= number_to_currency(order.total_item_price_for_merchant(current_user.id)) %></p>
    </section>
  <% end %>
</section>
