<section>
<p>ID: <%= @order.id %></p>
<p>Order Placed: <%= @order.created_at %></p>
<p>Last Updated: <%= @order.updated_at %></p>
<p>Current Status: <%= @order.status %></p>
<% @order.items.each do |item| %>
<div class="item-<%= item.id %>">
  <p>Name: <%= item.name %> </p>
  <p>Description: <%= item.description %></p>
  <p>Quantity: <%= item.order_quantity(@order.id) %></p>
  <p>Price: <%= item.price %> </p>
  <p>Sub Total: <%= item.quantity_price(@order.id) %></p>
  <%= item.thumbnail %>
</div>
<% end %>
<p>Total Items: <%= @order.total_item_quantity %></p>
<p>Grand Total: <%= @order.total_item_price %></p>
</section>
