<% if @errors %>
  <% @errors.each do |message| %>
    <%= content_tag :div, message, class: 'error' %>
  <% end %>
<% end %>

<% if @item.id %>
<% if admin_user? %>
  <% path = admin_merchant_edit_item_path(@merchant, @item) %>
  <% end %>
  <% path = dashboard_edit_item_path(@item) unless admin_user? %>
<% elsif @item.id == nil %>
  <% if admin_user? %>
    <% path = admin_merchant_create_new_item_path(@merchant.id) %>
  <% end %>
  <% path = dashboard_create_new_item_path unless admin_user? %>
<% end %>
<%= form_for @item, url: path do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="form-group">
  <%= f.label :thumbnail %>
  <%= f.text_field :thumbnail %>
</div>
<div class="form-group">
  <%= f.label :price %>
  <%= f.number_field :price, step: :any %>
</div>
<div class="form-group">
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
</div>
<div class="btn btn-primary">
  <%= f.submit 'Save Item' %>
</div>
<% end %>
